OrdenCompra/.vs/OrdenCompra/v15/Server/sqlite3/db.lock
OrdenCompra/OrdenCompra.sln
OrdenCompra/.vs/OrdenCompra/v15/.suo
OrdenCompra/.vs/OrdenCompra/v15/Server/sqlite3/storage.ide
OrdenCompra/OrdenCompra/.vscode/launch.json
OrdenCompra/OrdenCompra/.vscode/tasks.json
